Pillow==2.3.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Unidecode==0.04.14
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
duplicity==0.6.23
html5lib==0.999
httplib2==0.8
lockfile==0.8
lxml==3.3.3
oauthlib==0.6.1
virtualenv==12.1.1
wheel==0.24.0
