<!-- extend base layout -->
{% extends "helper/base.html" %}

{% block content %}

    {{ title }}
    <form action="" method="POST" name="edit_project">
        {{ form.hidden_tag() }}
        {{ form.name.label }}:{{ form.name(size=32) }}<br>
        {{ form.description.label }}n:{{ form.description (cols=32,rows=8) }}<br>
        start time:{{ form.start_time }}<br>
        end time:{{ form.end_time }}<br>
        {{ form.facility.label }}:{{ form.facility }}<br>
        <input type="submit" value="Save Changes">
    </form>
    {% for error in form.errors %}[{{ error }}]
    {% endfor %}

{% endblock %}