<!-- extend base layout -->
{% extends "helper/base.html" %}

{% block content %}

    {{ user.fullname }}
    {% for contact in user.contacts %}
        {{ contact }}
    {% endfor %}
    <hr>
    {% for company in companies %}<a href="{{ url_for('edit_facility', facility_id=company.id) }}">Edit</a>
        <b>{{ company.name }}</b> {{ company.start_time }} ~ {{ company.end_time }}<br>
        as {{ company.position }} in {{ company.location }}<br>
        {% for project in company.projects %}
            {{ project.name }} from {{ project.start_time }} till {{ project.end_time }}
            <br>
        {% endfor %}
        <p>
    {% endfor %}
    <hr>
    {% for school in schools %}<a href="{{ url_for('edit_facility', facility_id=school.id) }}">Edit</a>
        <b>{{ school.name }}</b> {{ school.start_time }} ~ {{ school.end_time }}<br>
        being {{ school.position }} in{{ school.location }}
        <br>
        {% for project in school.projects %}
            {{ project.name }} from {{ project.start_time }} till {{ project.end_time }}<br>
        {% endfor %}
        <p>
    {% endfor %}
    <hr>
    {% for reward in rewards %}
        {{ reward.name }}:{{ reward.description }}<br>{% endfor %}
    <hr>
    {% for skill in skills %}
        {{ skill.name }}:{{ skill.scale }}/10 {{ skill.description }}<br>{% endfor %}
    <hr>
    {% for publication in publications %}
        {{ publication.name }} by{{ publication.publisher }} in {{ publication.publish_date }}:
        {{ publication.description }}<br>{% endfor %}
{% endblock %}