<!-- extend base layout -->
{% extends "base.html" %}


{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
    {% for company in companies %}
        <b>{{ company.name }}</b> {{ company.start_time }} ~ {{ company.end_time }}<br>
        as {{ company.position }}<br>
        {% for project in company.projects %}
            {{ project.name }} |
        {% endfor %}
        <p>
    {% endfor %}
    <hr>
    {% for school in schools %}
        <b>{{ school.name }}</b> {{ school.start_time }} ~ {{ school.end_time }}<br>
        being {{ school.position }}<bt>
        {% for project in school.projects %}
            {{ project.name }} |
        {% endfor %}
        <p>
    {% endfor %}
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
